.typeahead__container {
  .typeahead__padlogo {
    padding-left: 24px;
  }

  .typeahead__w3w-logo {
    max-width: 18px;
    position: absolute;
    left: 7px;
    top: calc(50% - 9px);
    z-index: 3;
    color: #e11f26;
  }

  &.rtl {
    .typeahead__w3w-logo {
      right: 0;
      left: auto;
      top: 0;
    }

    .typeahead__padlogo {
      padding-right: 25px !important;
    }

    .typeahead__w3w-logo {
      left: auto;
      top: 6px;
      right: 7px;
    }
  }
}
