.typeahead__container {
  &.rtl {
    .typeahead__ {
      &field input {
        direction: rtl;
        padding: 10px;
      }

      &list-inner {
        text-align: right;
      }

      &query:after {
        right: auto;
        left: 10px;
      }

      &cancel-button {
        left: 0.8em;
      }

      &query {
        &:after {
          left: 40px;
        }
      }
    }
  }

  .typeahead__query {
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 14px;

    &:after {
      content: '';
      width: 20px;
      height: 100%;
      display: block;
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzU2IDM1NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzU2IDM1NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiMwMDk0NDQ7c3Ryb2tlOiMzOUI1NEE7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fTwvc3R5bGU+PGcgaWQ9IndOUU5Tei50aWYiPjxnIGlkPSJYTUxJRF8xXyI+PGcgaWQ9IlhNTElEXzIyXyI+PHBhdGggaWQ9IlhNTElEXzI0XyIgY2xhc3M9InN0MCIgZD0iTTAsMTg2LjVjMC01LjcsMC0xMS4zLDAtMTdjMC42LTcuMiwxLjItMTQuNCwyLjUtMjEuNWM3LjctNDIuMywyNy42LTc3LjcsNjAuMy0xMDUuNmMyNS4xLTIxLjQsNTQuMS0zNC43LDg2LjctNDAuMWM2LjctMS4xLDEzLjQtMS42LDIwLjEtMi4zYzUuNywwLDExLjMsMCwxNywwYzYuNiwwLjYsMTMuMiwxLjEsMTkuOCwyLjJjMzkuMyw2LjYsNzMsMjQuMSwxMDAuNSw1M2MyNS40LDI2LjYsNDAuOSw1OC4yLDQ2LjksOTQuNWMxLjEsNi42LDEuNiwxMy4yLDIuMiwxOS44YzAsNS43LDAsMTEuMywwLDE3Yy0wLjYsNy4yLTEuMiwxNC40LTIuNSwyMS41Yy03LjcsNDIuMy0yNy42LDc3LjctNjAuMywxMDUuNmMtMjUuMSwyMS40LTU0LjEsMzQuNy04Ni43LDQwLjFjLTYuNywxLjEtMTMuNCwxLjYtMjAuMSwyLjNjLTUuNywwLTExLjMsMC0xNywwYy02LjYtMC42LTEzLjItMS4xLTE5LjgtMi4yYy0zOS4zLTYuNi03My0yNC4xLTEwMC41LTUzYy0yNS40LTI2LjYtNDAuOS01OC4yLTQ2LjktOTQuNUMxLjEsMTk5LjcsMC42LDE5My4xLDAsMTg2LjV6IE0zMzQuMywxNzguMUMzMzMuOCw5MS40LDI2NC45LDIyLDE3OC40LDIxLjhDOTEuNiwyMS42LDIyLjEsOTEsMjEuOCwxNzcuNUMyMS42LDI2NC41LDkxLDMzNCwxNzcuNywzMzQuMkMyNjQuNiwzMzQuMywzMzMuNywyNjQuOCwzMzQuMywxNzguMXoiLz48cGF0aCBpZD0iWE1MSURfMjNfIiBjbGFzcz0ic3QwIiBkPSJNMTQ3LjcsMjUzLjdjLTMuNywwLjItNi43LTEuMi05LjMtMy43Yy0xNy41LTE3LjYtMzUuMS0zNS4xLTUyLjYtNTIuN2MtNy4zLTcuNC00LjUtMTkuNCw1LjItMjJjNS4xLTEuNCw5LjYtMC4xLDEzLjUsMy43YzEyLjksMTIuOSwyNS44LDI1LjgsMzguNywzOC43YzQuNiw0LjYsNC42LDQuNiw5LjIsMGMzMi42LTMyLjYsNjUuMS02NS4xLDk3LjctOTcuN2M1LjUtNS41LDEzLjItNS45LDE4LjYtMWM1LjYsNS4xLDUuOCwxMy41LDAuMiwxOS4xYy03LDcuMS0xNC4xLDE0LjEtMjEuMiwyMS4yYy0zMC4xLDMwLjEtNjAuMiw2MC4yLTkwLjIsOTAuM0MxNTQuNywyNTIuNCwxNTEuNSwyNTQsMTQ3LjcsMjUzLjd6Ii8+PC9nPjwvZz48L2c+PC9zdmc+");
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 40px;
      top: 0;
      display: none;
    }

    &.valid:after {
      display: block;
    }
  }
}
